body {
  background: rgb(90, 185, 196);
  background: linear-gradient(
    180deg,
    rgb(78, 224, 241) 4%,
    rgba(245, 66, 66, 0.474) 57%,
    rgba(239, 37, 37, 0.119) 80%
  );
  min-height: 100vh;
}

.App {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
}

#container,
.form {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-bottom: 50px;
}

.heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-shadow: 10px 10px 10px black;
}

label,
input {
  font-size: 20px;
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(155, 151, 151);
  border-radius: 20px;
  background-color: rgb(197, 237, 241);
}
.num{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(127, 124, 124);
  border-radius: 20px;
  background-color: rgb(197, 237, 241);
}

button {
  cursor: pointer;
  padding: 10px 50px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(153, 209, 214);
}

button:hover {
  border: 2px solid rgb(242, 237, 237);
  box-shadow: 0 0 2px 2px rgb(241, 248, 249);
  background-color: rgb(129, 233, 240);
}

#display-form-data {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  border: 2px solid green;
  width: 90%;
  height: fit-content;
  background-color: rgb(147, 209, 215);
}

.display-data {
  text-align: center;
  width: 500px;
  height: fit-content;
  padding: 20px;
  margin: 15px;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(255, 168, 182);
  font-size: 15px;
}
